.menu-container{
	position: relative;	
	
}
.menu-body{
	position: absolute;
	display: none;
}
.menu-container:hover .menu-body, .menu-body:hover{
	display:block;
	
}
.menu-body> div{
	padding: 8px 20px;
	background: #ffffff;
	 
	width: 100%;
}

.menu-body> div ul{
	list-style: none;
}


div.figure{
	height: 308px;
}
div.saiba{
	margin-bottom:25px;
}

.descricao{
	text-align: justify;
}
.thumb-lg {
    height: 200px;
    width: 200px;
}

.text-white {
    color: #000000;
    text-align: center;
}
.user-bg .overlay-box .user-content {
    padding: 0;
    margin-top: 15px!important;
}